<div id="content">
<!-- section -->
        <div class="section pb-0">
          <div class="container">
            <div class="owl-carousel carousel1">
              <div class="item">
                <figure class="figure1">
                  <img class="w-100" src="images/slide-img1.jpg" alt="img">
                </figure>
              </div>
              <div class="item">
                <figure class="figure1">
                  <img class="w-100" src="images/slide-img2.jpg" alt="img">
                </figure>
              </div>
              <div class="item">
                <figure class="figure1">
                  <img class="w-100" src="images/slide-img3.jpg" alt="img">
                </figure>
              </div>
              <div class="item">
                <figure class="figure1">
                  <img class="w-100" src="images/slide-img4.jpg" alt="img">
                </figure>
              </div>
              <div class="item">
                <figure class="figure1">
                  <img class="w-100" src="images/slide-img5.jpg" alt="img">
                </figure>
              </div>
              <div class="item">
                <figure class="figure1">
                  <img class="w-100" src="images/slide-img6.jpg" alt="img">
                </figure>
              </div>
              <div class="item">
                <figure class="figure1">
                  <img class="w-100" src="images/slide-img1.jpg" alt="img">
                </figure>
              </div>
              <div class="item">
                <figure class="figure1">
                  <img class="w-100" src="images/slide-img2.jpg" alt="img">
                </figure>
              </div>
              <div class="item">
                <figure class="figure1">
                  <img class="w-100" src="images/slide-img3.jpg" alt="img">
                </figure>
              </div>
              <div class="item">
                <figure class="figure1">
                  <img class="w-100" src="images/slide-img4.jpg" alt="img">
                </figure>
              </div>
              <div class="item">
                <figure class="figure1">
                  <img class="w-100" src="images/slide-img5.jpg" alt="img">
                </figure>
              </div>
              <div class="item">
                <figure class="figure1">
                  <img class="w-100" src="images/slide-img6.jpg" alt="img">
                </figure>
              </div>
            </div>
          </div>
        </div>
        <div class="section find-us bg-primary-light wave1 pt-md-3 pb-md-0 pull-top">
          <div class="container-fluid px-0">
            <h2 class="display-1 text-white mb-0 skrollable skrollable-between position-relative" data-start="margin-left:-200px;" data-end="margin-left:700px;">Come find us! &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; warm, &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; gooey, &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; freshly backed &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Come find us! &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; warm, &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; gooey, &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; freshly backed</h2>
            <div class="cloud cloud1">
            </div>
            <div class="cloud cloud2">
            </div>
          </div>
        </div>
<!-- /section -->
</div>

{% schema %}
  {
    "name": "Image Slider",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}