<!-- section -->
        <div class="section pb-0">
          <div class="container">
            <div class="owl-carousel carousel1">
              {% for block in section.blocks %}
                {% case block.type %}
                  {% when 'image' %}
                    <div class="item">
                      <figure class="figure1">
                        <img class="w-100" src="{{ block.settings.slider-image | image_url }}" alt="{{ block.settings.slider-image.alt }}">
                      </figure>
                    </div>
               {% endcase %}
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="section find-us bg-primary-light wave1 pt-md-3 pb-md-0 pull-top">
          <div class="container-fluid px-0">
            <h2 class="display-1 text-white mb-0 skrollable skrollable-between position-relative" data-start="margin-left:-200px;" data-end="margin-left:700px;">Come find us! &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; warm, &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; gooey, &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; freshly backed &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Come find us! &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; warm, &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; gooey, &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; freshly backed</h2>
            <div class="cloud cloud1">
            </div>
            <div class="cloud cloud2">
            </div>
          </div>
        </div>
<!-- /section -->


{% schema %}
  {
    "name": "Image Slider",
    "settings": [
      {
            "id": "keywords",
            "type": "textarea",
            "label": "Keywords"
          }
    ],
    "blocks": [
      {
        "name": "Image",
        "type": "image",
        "settings": [
          {
            "id": "slider-image",
            "type": "image_picker",
            "label": "Upload Image"
          }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}