<!-- section -->
        <div class="section our-international-stores">
          <div class="container">
            <div class="box1 alt mb-5 mb-lg-5">
              <h2>International stores</h2>
              <div class="row pt-2">
                
                <div class="col-lg-4 col-md-6 column">
                  <h6>Amman, Jordan</h6>
                  <ul class="list1">
                    <li>a) Abdoun </li>
                    <li>b) Khalda </li>
                  </ul>
                </div>
                
              </div>
            </div>
            <footer class="text-center pt-4 pt-lg-5">
              <span class="note">More Stores opening soon including, Cyprus, Qatar, Belgium and more! </span>
            </footer>
          </div>
        </div>
<!-- /section -->


{% schema %}
  {
    "name": "International Stores",
    "settings": [],
    "blocks": [
      {
        "name": "Store",
        "type": "store"
      },
      {
        "name": "Address",
        "type": "address"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}