<!-- section -->
        <div class="section our-stores">
          <div class="container">
            <div class="row">
              <div class="col-lg-4 col-md-6 column">
                <div class="box1">
                  <figure class="figure1">
                    <img class="w-100" src="images/image1.jpg" alt="img">
                  </figure>
                  <div class="content">
                    <h2><a href="#">LONDON </a></h2>
                    <p>Westfield London White City, First Floor (near Primark)</p>
                    <div class="timings-chart">
                      <a href="#" class="toggle-btn"><span>OPENING TIMES</span> <i class="icon"><img src="images/down-arrow.svg" alt="arrow"></i></a>
                      <table class="custom-table1">
                        <tbody>
                          <tr>
                            <td class="week">MON:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">TUE:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">WED:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">THU:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">FRI:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">SAT:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">SUN</td>
                            <td>11:00 AM - 5:00 PM</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <footer>
                    <a href="#" class="btn btn-primary bg-color1">Get Directions</a>
                  </footer>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 column">
                <div class="box1">
                  <figure class="figure1">
                    <img class="w-100" src="images/image1.jpg" alt="img">
                  </figure>
                  <div class="content">
                    <h2><a href="#">LONDON </a></h2>
                    <p>Westfield London White City, First Floor (near Primark)</p>
                    <div class="timings-chart">
                      <a href="#" class="toggle-btn"><span>OPENING TIMES</span> <i class="icon"><img src="images/down-arrow.svg" alt="arrow"></i></a>
                      <table class="custom-table1">
                        <tbody>
                          <tr>
                            <td class="week">MON:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">TUE:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">WED:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">THU:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">FRI:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">SAT:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">SUN</td>
                            <td>11:00 AM - 5:00 PM</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <footer>
                    <a href="#" class="btn btn-primary bg-color1">Get Directions</a>
                  </footer>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 column">
                <div class="box1">
                  <figure class="figure1">
                    <img class="w-100" src="images/image1.jpg" alt="img">
                  </figure>
                  <div class="content">
                    <h2><a href="#">LONDON </a></h2>
                    <p>Westfield London White City, First Floor (near Primark)</p>
                    <div class="timings-chart">
                      <a href="#" class="toggle-btn"><span>OPENING TIMES</span> <i class="icon"><img src="images/down-arrow.svg" alt="arrow"></i></a>
                      <table class="custom-table1">
                        <tbody>
                          <tr>
                            <td class="week">MON:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">TUE:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">WED:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">THU:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">FRI:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">SAT:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">SUN</td>
                            <td>11:00 AM - 5:00 PM</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <footer>
                    <a href="#" class="btn btn-primary bg-color1">Get Directions</a>
                  </footer>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 column">
                <div class="box1">
                  <figure class="figure1">
                    <img class="w-100" src="images/image1.jpg" alt="img">
                  </figure>
                  <div class="content">
                    <h2><a href="#">Birmingham </a></h2>
                    <p>Bullring Shopping Centre, Lower Mall (Next to Burger King)</p>
                    <div class="timings-chart">
                      <a href="#" class="toggle-btn"><span>OPENING TIMES</span> <i class="icon"><img src="images/down-arrow.svg" alt="arrow"></i></a>
                      <table class="custom-table1">
                        <tbody>
                          <tr>
                            <td class="week">MON:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">TUE:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">WED:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">THU:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">FRI:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">SAT:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">SUN</td>
                            <td>11:00 AM - 5:00 PM</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <footer>
                    <a href="#" class="btn btn-primary bg-color1">Get Directions</a>
                  </footer>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 column">
                <div class="box1">
                  <figure class="figure1">
                    <img class="w-100" src="images/image1.jpg" alt="img">
                  </figure>
                  <div class="content">
                    <h2><a href="#">Cardiff</a></h2>
                    <p>St Davids Shopping Centre, Mall 2, Floor 1 (towards Debenhams)</p>
                    <div class="timings-chart">
                      <a href="#" class="toggle-btn"><span>OPENING TIMES</span> <i class="icon"><img src="images/down-arrow.svg" alt="arrow"></i></a>
                      <table class="custom-table1">
                        <tbody>
                          <tr>
                            <td class="week">MON:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">TUE:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">WED:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">THU:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">FRI:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">SAT:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">SUN</td>
                            <td>11:00 AM - 5:00 PM</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <footer>
                    <a href="#" class="btn btn-primary bg-color1">Get Directions</a>
                  </footer>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 column">
                <div class="box1">
                  <figure class="figure1">
                    <img class="w-100" src="images/image1.jpg" alt="img">
                  </figure>
                  <div class="content">
                    <h2><a href="#">Manchester</a></h2>
                    <p>Intu Trafford Centre, Ground Floor (next to Footlocker)</p>
                    <div class="timings-chart">
                      <a href="#" class="toggle-btn"><span>OPENING TIMES</span> <i class="icon"><img src="images/down-arrow.svg" alt="arrow"></i></a>
                      <table class="custom-table1">
                        <tbody>
                          <tr>
                            <td class="week">MON:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">TUE:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">WED:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">THU:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">FRI:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">SAT:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">SUN</td>
                            <td>11:00 AM - 5:00 PM</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <footer>
                    <a href="#" class="btn btn-primary bg-color1">Get Directions</a>
                  </footer>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 column">
                <div class="box1">
                  <figure class="figure1">
                    <img class="w-100" src="images/image1.jpg" alt="img">
                  </figure>
                  <div class="content">
                    <h2><a href="#">Leeds</a></h2>
                    <p>My Cookie Dough Cafe Flagship Store, 24 Albion Place, LS1 6JS</p>
                    <div class="timings-chart">
                      <a href="#" class="toggle-btn"><span>OPENING TIMES</span> <i class="icon"><img src="images/down-arrow.svg" alt="arrow"></i></a>
                      <table class="custom-table1">
                        <tbody>
                          <tr>
                            <td class="week">MON:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">TUE:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">WED:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">THU:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">FRI:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">SAT:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">SUN</td>
                            <td>11:00 AM - 5:00 PM</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <footer>
                    <a href="#" class="btn btn-primary bg-color1">Get Directions</a>
                  </footer>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 column">
                <div class="box1">
                  <figure class="figure1">
                    <img class="w-100" src="images/image1.jpg" alt="img">
                  </figure>
                  <div class="content">
                    <h2><a href="#">Bluewater</a></h2>
                    <p>Bluewater Mall, Lower Rose Gallery</p>
                    <div class="timings-chart">
                      <a href="#" class="toggle-btn"><span>OPENING TIMES</span> <i class="icon"><img src="images/down-arrow.svg" alt="arrow"></i></a>
                      <table class="custom-table1">
                        <tbody>
                          <tr>
                            <td class="week">MON:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">TUE:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">WED:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">THU:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">FRI:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">SAT:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">SUN</td>
                            <td>11:00 AM - 5:00 PM</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <footer>
                    <a href="#" class="btn btn-primary bg-color1">Get Directions</a>
                  </footer>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 column">
                <div class="box1">
                  <figure class="figure1">
                    <img class="w-100" src="images/image1.jpg" alt="img">
                  </figure>
                  <div class="content">
                    <h2><a href="#">Liverpool</a></h2>
                    <p>My Cookie Dough Cafe, Unit 88c, Liverpool One, 6 Wall Street </p>
                    <div class="timings-chart">
                      <a href="#" class="toggle-btn"><span>OPENING TIMES</span> <i class="icon"><img src="images/down-arrow.svg" alt="arrow"></i></a>
                      <table class="custom-table1">
                        <tbody>
                          <tr>
                            <td class="week">MON:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">TUE:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">WED:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">THU:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">FRI:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">SAT:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">SUN</td>
                            <td>11:00 AM - 5:00 PM</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <footer>
                    <a href="#" class="btn btn-primary bg-color1">Get Directions</a>
                  </footer>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 column">
                <div class="box1">
                  <figure class="figure1">
                    <img class="w-100" src="images/image1.jpg" alt="img">
                  </figure>
                  <div class="content">
                    <h2><a href="#">Gateshead </a></h2>
                    <p>Metro Centre, Lower platinum Mall (next to Game)</p>
                    <div class="timings-chart">
                      <a href="#" class="toggle-btn"><span>OPENING TIMES</span> <i class="icon"><img src="images/down-arrow.svg" alt="arrow"></i></a>
                      <table class="custom-table1">
                        <tbody>
                          <tr>
                            <td class="week">MON:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">TUE:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">WED:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">THU:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">FRI:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">SAT:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">SUN</td>
                            <td>11:00 AM - 5:00 PM</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <footer>
                    <a href="#" class="btn btn-primary bg-color1">Get Directions</a>
                  </footer>
                </div>
              </div>
            </div>
            <footer class="text-center pt-4 pt-lg-5">
              <span class="note">More UK Stores opening soon! </span>
            </footer>
          </div>
        </div>
<!-- /section -->


{% schema %}
  {
    "name": "Our Stores",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}